//
// Variables
// --------------------------------------------------

//== Sticky
@header-sticky-zindex:                                  @zindex-navbar-fixed;

//== Navbar
@header-navbar-height:                                  120px;
@header-navbar-background-color:                        #fff;
@header-navbar-background-color-rgba:                   rgba(red(@header-navbar-background-color), green(@header-navbar-background-color), blue(@header-navbar-background-color), .95);

//== Logo
@header-logo-height:                                    55px;
@header-logo-width:                                     234px;

//
// Styling
// --------------------------------------------------

// Header
.header {

    // Bar
    .header-bar {

        // Navigation
        .header-navigation {}

        // Position - left
        .header-left {}

        // Position - center
        .header-center {}

        // Position - right
        .header-right {}

    }
}