body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Asap', sans-serif;
}

a {
    text-decoration: none;
}

*[class^="prlx"] {
  position: absolute;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}

.prlx-1{ background: url('http://demo.webcodo.net/parallax-effect/images/bg2.jpg') repeat }
.prlx-2{ background: url('../img/people.jpg') -1400px -800px no-repeat; }

.section-one h2, .section-three h2 {
    font-size: 38px;
    color: white;
    position: absolute;
    bottom:90px;
    left: 200px;
    padding:10px;
    background-color: #232323;
}

.section-one, .section-two, .section-three {
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

.section-one {
    min-height: 500px;
}

.section-two {
    min-height: 350px;
}


.section-one .left {}
.section-one .center {}
.section-one .right {}


.section-one .buzz {
    width: 800px;
    margin: 20px auto;
}
.section-one .buzz div {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.section-one .buzz div h5 {
    margin-bottom: 0;
    color: #ec7139;
}

.section-two.full {
    padding: 0;
}
.section-two.full .wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.section-two.full img {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2;
}

.section-two h2 {
    margin-top: 0;
    color: #fff;
    width: 650px;
    float: left;
}
.section-two p {
    width: 650px;
    margin: 0;
    margin-bottom: 0;
    float: left;
}

.full {
    padding: 20px 0;
    width: 100%;
}
.section-two {
    background-color: #ec7139;
}

.section-y {
    padding: 60px 0;
}
.section-y p {
    width: 600px;
    text-align: center;
}

.section-four {
    background-color: #364045;
    padding-top: 0;
    padding-bottom: 0;
}

p {
    width: 900px;
    margin: 10px auto;
    line-height: 18px;
}
h3 {
    text-align: center;
}
header {
    margin: 0 auto;
    width: 900px;
    overflow: hidden;
}
header h1 {
    float: left;
    text-indent: -9999px;
    background: url('../img/logo.png') no-repeat;
    height: 60px;
    width: 245px;
}
header a {
    color: #000;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

.btn,
.btn:hover {
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #ec7139;
    padding: 2px 10px;
}

.btn.large {
    padding: 10px 15px;
}

header ul {
    list-style: none;
    margin: 36px 0 0 0;
    float: right;
    padding: 0;
}
header li {
    float: left;
    margin-right: 10px;
    padding: 2px 10px;
}
.login {
    text-indent: -9999px;
    background: url('../img/lock.png') no-repeat;
    width: 30px;
    height: 30px;
}

footer {
    background-color: #364045;
    margin: 0;
    padding: 0;
    color: #fff;
}
.support {
    background-color: #ec7139;
    padding: 20px;
}

address a,
.support a {
    color: #000;
}
.info p {
    background: url('../img/logo-white.png') no-repeat;
    padding: 60px 0 20px 60px;
    color: #737e84;
}
.info p small {
    display: block;
    text-align: right;
    margin-top: 40px;
}
address {
    font-style: normal;
    margin-top: 280px;
    background-image: url('../img/pin.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    text-align: center;
}
address p {
    padding-bottom: 20px;
    padding-top: 120px;
}

.features {
    border-collapse: collapse;
    margin: 0 auto;
}
.features td {
    color: #fff;
    text-align: center;
    padding: 5px;
}
.features .check {
    color: #ec7139;
}
.features th {
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    vertical-align: bottom;
}
.features thead th {
    color: #aad6cf;
}
.features tbody th {
    font-weight: normal;
}
.features th strong {
    color: #fff;
    display: block;
    font-size: 26px;
    font-family: 'Asap', sans-serif;
}

.features tfoot {
    font-size: 26px;
    text-align: center;
    font-family: 'Asap', sans-serif;
}
.features tfoot td {
    padding: 20px 10px;
}
.features tfoot small {
    font-size: 12px;
    color: #aad6cf;
    font-family: 'Open Sans', sans-serif;
}

.features .selected {
    background-color: #fff;
}
.features tfoot .selected {
    color: #364045;
}
.features thead .selected strong {
    color: #364045;
}
.features .odd {
    background-color: #424b4f;
}
.features .odd .selected {
    background-color: #c0c0c0;
}

